webservice-example/call-ws/src/main/wsdl/FabrikBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="FabrikBeanService" targetNamespace="http://soap.ws.tests.objectbay.at/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.tests.objectbay.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.ws.tests.objectbay.at/" version="1.0" xmlns:tns="http://soap.ws.tests.objectbay.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getPerson" type="tns:getPerson"/>
<xs:element name="getPersonResponse" type="tns:getPersonResponse"/>
<xs:complexType name="getPerson">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getPersonResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:person"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="person">
<xs:sequence>
<xs:element minOccurs="0" name="nachname" type="xs:string"/>
<xs:element minOccurs="0" name="vorname" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPersonResponse">
    <wsdl:part element="tns:getPersonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerson">
    <wsdl:part element="tns:getPerson" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FabrikBean">
    <wsdl:operation name="getPerson">
      <wsdl:input message="tns:getPerson" name="getPerson">
    </wsdl:input>
      <wsdl:output message="tns:getPersonResponse" name="getPersonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FabrikBeanServiceSoapBinding" type="tns:FabrikBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FabrikBeanService">
    <wsdl:port binding="tns:FabrikBeanServiceSoapBinding" name="FabrikBeanPort">
      <soap:address location="http://localhost:8080/soap-ws-1.0.0-SNAPSHOT/FabrikBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>