webservice-example/call-ws/src/main/wsdl/PersonenService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.4-b01-. -->
<definitions
	targetNamespace="http://www.sozialversicherung.at/schema/zpv/ibs/PartnerLesenLang_6_0"
	name="SEPartnerLesenLangService"
	xmlns:tns="http://www.sozialversicherung.at/schema/zpv/ibs/PartnerLesenLang_6_0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xs:schema version="1.0"
			targetNamespace="http://www.sozialversicherung.at/schema/zpv/ibs/PartnerLesenLang_6_0"
			xmlns:tns="http://www.sozialversicherung.at/schema/zpv/ibs/PartnerLesenLang_6_0"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">

			<xs:element name="partnerLesenLang" type="tns:partnerLesenLang" />

			<xs:element name="partnerLesenLangResponse" type="tns:partnerLesenLangResponse" />

			<xs:complexType name="partnerLesenLang">
				<xs:sequence>
					<xs:element name="dtoPartnerLELI" type="tns:dtoPartnerLELI"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoPartnerLELI">
				<xs:complexContent>
					<xs:extension base="tns:dtoInput">
						<xs:sequence>
							<xs:element name="dtoPartnerParrolleIdentifikation_Partner"
								type="tns:dtoPartnerParrolleIdentifikation" />
							<xs:element name="partnerDiakritischJN" type="xs:string" />
							<xs:element name="namenszusammenfassungJN" type="xs:string" />
							<xs:element name="namensGebrauchKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="partnerrollenartKurzAnforderung"
								type="xs:string" minOccurs="0" />
							<xs:element name="anschriftJN" type="xs:string" />
							<xs:element name="adresseAevNummer_Anschrift" type="xs:integer"
								minOccurs="0" />
							<xs:element name="ermittlungsartAdresseKurz_Anschrift"
								type="xs:string" minOccurs="0" />
							<xs:element name="zustelladresseBerueckJN_Anschrift"
								type="xs:string" minOccurs="0" />
							<xs:element name="voruebergehendeAdresseBerueckJN_Anschrift"
								type="xs:string" minOccurs="0" />
							<xs:element name="anschriftszusammenfassungJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="laengezusammenfassung" type="xs:integer"
								minOccurs="0" />
							<xs:element name="anschriftVerwaltungsgliederungJN"
								type="xs:string" minOccurs="0" />
							<xs:element name="landesgerichteJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="bezirksgerichteJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="arbeitsSozialGerichteJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="arbeitsinspektorateJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="landForstwInspektorateJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="arbeitsInspektoratBauarbJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="geldadresseJN" type="xs:string" />
							<xs:element name="adresseAevNummer_Geldadresse" type="xs:integer"
								minOccurs="0" />
							<xs:element name="ermittlungsartAdresseKurz_Geldadresse"
								type="xs:string" minOccurs="0" />
							<xs:element name="voruebergehendeAdresseBerueckJN_Geldadresse"
								type="xs:string" minOccurs="0" />
							<xs:element name="geldadressvereinbarungJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="geldadressvereinbarungsartKurz"
								type="xs:string" minOccurs="0" />
							<xs:element name="weitereNamenJN" type="xs:string" />
							<xs:element name="fremdidentifikationJN" type="xs:string" />
							<xs:element name="klassifizierungJN" type="xs:string" />
							<xs:element name="finanzamtSteuernrJN" type="xs:string" />
							<xs:element name="insolvenzverfahrenJN" type="xs:string" />
							<xs:element name="notizJN" type="xs:string" />
							<xs:element name="neuFoegJN" type="xs:string" />
							<xs:element name="klassifzierungFachgebietJN" type="xs:string" />
							<xs:element name="vertragspartnernummerJN" type="xs:string" />
							<xs:element name="verweiseJN" type="xs:string" />
							<xs:element name="beziehungJN" type="xs:string" />
							<xs:element name="beziehungsartKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="historieJN" type="xs:string"
								minOccurs="0" />
							<xs:element name="aenderungVonDat" type="xs:date"
								minOccurs="0" />
							<xs:element name="aenderungBisDat" type="xs:date"
								minOccurs="0" />
							<xs:element name="bearbeiterinfoJN" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoInput" abstract="true">
				<xs:sequence>
					<xs:element name="bkBearbeiter" type="tns:bkBearbeiterVO" />
					<xs:element name="version" type="xs:string" />
					<xs:element name="verarbeitungsmodus" type="xs:string" />
					<xs:element name="transactionid" type="xs:integer"
						minOccurs="0" />
					<xs:element name="idapp" type="xs:string" />
					<xs:element name="systemmodus" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoPartnerParrolleIdentifikation">
				<xs:sequence>
					<xs:element name="parParrolleID" type="xs:integer"
						minOccurs="0" />
					<xs:element name="bkFachschluesselAngabe" type="tns:bkFachschluesselAngabeVO"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkFachschluesselAngabeVO">
				<xs:sequence>
					<xs:element name="fachschluesselartKurz" type="xs:string" />
					<xs:element name="fachschluessel" type="xs:string" />
					<xs:element name="fachschluesselGueltigDat" type="xs:date"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkBearbeiterVO">
				<xs:sequence>
					<xs:element name="bearbeiterMstCode" type="xs:string" />
					<xs:element name="orgeinheitid" type="xs:string"
						minOccurs="0" />
					<xs:element name="bearbeiter" type="xs:string" />
					<xs:element name="bearbeitergruppe" type="xs:string"
						minOccurs="0" />
					<xs:element name="passwort" type="xs:string" minOccurs="0" />
					<xs:element name="bearbGrund" type="xs:string"
						minOccurs="0" />
					<xs:element name="transactionUUID" type="xs:string"
						minOccurs="0" />
					<xs:element name="funktionKurz" type="xs:string"
						minOccurs="0" />
					<xs:element name="aufrufpfad" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="partnerLesenLangResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:dtoPartnerLELO"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoPartnerLELO">
				<xs:complexContent>
					<xs:extension base="tns:dtoOutput">
						<xs:sequence>
							<xs:element name="dtoPartnerListe" type="tns:dtoPartner"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoPartnerKurzListe_NeufoegBetrieb"
								type="tns:dtoPartnerKurz" nillable="true" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element name="dtoPartnerrolleKurzListe" type="tns:dtoPartnerrolleKurz"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoAnschriftKurz" type="tns:dtoAnschriftKurz"
								minOccurs="0" />
							<xs:element name="dtoGeldadresseKurz" type="tns:dtoGeldadresseKurz"
								minOccurs="0" />
							<xs:element name="dtoPartnernameKurzListe" type="tns:dtoPartnernameKurz"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoFremdidentifikationKurzListe"
								type="tns:dtoFremdidentifikationKurz" nillable="true" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element name="dtoKlassifizierungKurzListe" type="tns:dtoKlassifizierungKurz"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoFastnrKurz" type="tns:dtoFastnrKurz"
								minOccurs="0" />
							<xs:element name="dtoInsolvenzverfahrenKurzListe"
								type="tns:dtoInsolvenzverfahrenKurz" nillable="true" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element name="dtoNotizKurzListe" type="tns:dtoNotizKurz"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoVerweisKurzListe" type="tns:dtoVerweisKurzLELO"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoBeziehungKurzListe" type="tns:dtoBeziehungKurz"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoKlassFachgebietKurzListe" type="tns:dtoKlassFachgebietKurz"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoPartnerVPNRKurzListe" type="tns:dtoPartnerVPNRKurz"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoBeitragskonto" type="tns:dtoBeitragskonto"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOutput" abstract="true">
				<xs:sequence>
					<xs:element name="fehlerpaket" type="tns:iReturnVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoPartner">
				<xs:sequence>
					<xs:element name="parParrolleID_Partner" type="xs:integer" />
					<xs:element name="partnerartKurz" type="xs:string" />
					<xs:element name="anredeKZ" type="xs:string" minOccurs="0" />
					<xs:element name="anrede" type="xs:string" minOccurs="0" />
					<xs:element name="wirtschaftkammerMitgliedJN" type="xs:string"
						minOccurs="0" />
					<xs:element name="svbPKAktuellJN" type="xs:string"
						minOccurs="0" />
					<xs:element name="updatecount" type="xs:integer" />
					<xs:element name="bkStornoinformation" type="tns:bkStornoinformationVO" />
					<xs:element name="dtoBearbeiterinformation" type="tns:dtoBearbeiterinformation"
						minOccurs="0" />
					<xs:element name="dtoNamenszusammenfassung" type="tns:dtoNamenszusammenfassung"
						minOccurs="0" />
					<xs:element name="dtoNamenszusammenfassungDiakritisch"
						type="tns:dtoNamenszusammenfassungDiakritisch" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkStornoinformationVO">
				<xs:sequence>
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="stornogrund" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoBearbeiterinformation">
				<xs:sequence>
					<xs:element name="bkBearbeiterinformation" type="tns:bkBearbeiterinformationVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkBearbeiterinformationVO">
				<xs:sequence>
					<xs:element name="erstellerMstCode" type="xs:string" />
					<xs:element name="ersteller" type="xs:string" />
					<xs:element name="erstellTS" type="xs:dateTime" />
					<xs:element name="letztAendMstCode" type="xs:string" />
					<xs:element name="letztAend" type="xs:string" />
					<xs:element name="letztAendTS" type="xs:dateTime" />
					<xs:element name="bearbGrund" type="xs:string"
						minOccurs="0" />
					<xs:element name="transactionUUID" type="xs:string" />
					<xs:element name="funktionKurz" type="xs:string" />
					<xs:element name="aktion" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoHistorisierungsinformation">
				<xs:complexContent>
					<xs:extension base="tns:dtoBearbeiterinformation">
						<xs:sequence>
							<xs:element name="histTS" type="xs:dateTime" />
							<xs:element name="histAktion" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoNamenszusammenfassung">
				<xs:sequence>
					<xs:element name="namenszeile1" type="xs:string" />
					<xs:element name="namenszeile2" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoNamenszusammenfassungDiakritisch">
				<xs:sequence>
					<xs:element name="namenzeileDiakritisch1" type="xs:string" />
					<xs:element name="namenzeileDiakritisch2" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAmsOE">
				<xs:complexContent>
					<xs:extension base="tns:dtooeMitUebergeordneterOrganisation">
						<xs:sequence>
							<xs:element name="amsNummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtooeMitUebergeordneterOrganisation">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="parParrolleID_UebergeordOrg" type="xs:integer" />
							<xs:element name="organisationsname_UebergeordOrg"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOrganisationAllgemein">
				<xs:complexContent>
					<xs:extension base="tns:dtoPartner">
						<xs:sequence>
							<xs:element name="organisationsname" type="xs:string" />
							<xs:element name="organisationsnameKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="zusatzOrganisationsname" type="xs:string"
								minOccurs="0" />
							<xs:element name="geschaeftszweig" type="xs:string"
								minOccurs="0" />
							<xs:element name="organisationsartKurz" type="xs:string" />
							<xs:element name="organisationsart" type="xs:string" />
							<xs:element name="organisationGruendungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="organisationAufloesungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="isoa3Organisationssitz" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezKurzOrgsitz" type="xs:string"
								minOccurs="0" />
							<xs:element name="rechtsformKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="rechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="isoa3Rechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezKurzRechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklassebezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseAktGutKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseAktGutBez" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseTaetigkeitKurz"
								type="xs:string" minOccurs="0" />
							<xs:element name="wirtschaftsklasseTaetigkeitBez"
								type="xs:string" minOccurs="0" />
							<xs:element name="fachgruppesektionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachgruppebezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachsektionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachsektionbezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="institutionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="dtoOrganisationDiakritisch" type="tns:dtoOrganisationDiakritisch"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOrganisationDiakritisch">
				<xs:sequence>
					<xs:element name="organisationsnameDiakritisch" type="xs:string" />
					<xs:element name="zusatzOrganisationsnameDiakritisch"
						type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoArbeitsinspektorat">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="aiNummer" type="xs:string" />
							<xs:element name="aiArtKurz" type="xs:string" />
							<xs:element name="aiArt" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoAuslaendischerSvTraeger">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="institutionCodeFingiertJN" type="xs:string" />
							<xs:element name="staatIsoA2" type="xs:string" />
							<xs:element name="staatenbezeichnungKurz" type="xs:string" />
							<xs:element name="kvTraegerJN" type="xs:string" />
							<xs:element name="pvTraegerJN" type="xs:string" />
							<xs:element name="uvTraegerJN" type="xs:string" />
							<xs:element name="abrechnungskasseJN" type="xs:string" />
							<xs:element name="svTraegerArtKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="svTraegerArtBez" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoFinanzamt">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="finanzamtnummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoGericht">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="gerichtsnummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="klJN" type="xs:string" />
							<xs:element name="kaJN" type="xs:string" />
							<xs:element name="exJN" type="xs:string" />
							<xs:element name="soJN" type="xs:string" />
							<xs:element name="kgJN" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoInlaendischerSvTraeger">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="versicherungstraegercode" type="xs:string" />
							<xs:element name="kvTraegerJN" type="xs:string" />
							<xs:element name="pvTraegerJN" type="xs:string" />
							<xs:element name="uvTraegerJN" type="xs:string" />
							<xs:element name="gkkJN" type="xs:string" />
							<xs:element name="dvr" type="xs:string" />
							<xs:element name="bundesland" type="xs:string"
								minOccurs="0" />
							<xs:element name="bundeslandcode" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoKrankenanstalt">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="krankenanstaltennummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoLkf">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="lkfCode" type="xs:string" />
							<xs:element name="bundeslandcode" type="xs:string" />
							<xs:element name="bundesland" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoMitarbeitervorsorgekasse">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="mvkLeitzahlVon" type="xs:string" />
							<xs:element name="mvkLeitzahlBis" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoMvkAnsprechstelle">
				<xs:complexContent>
					<xs:extension base="tns:dtooeMitUebergeordneterOrganisation">
						<xs:sequence>
							<xs:element name="mvkLeitzahl_UebergeordOrg" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoMvkLeitzahl">
				<xs:complexContent>
					<xs:extension base="tns:dtooeMitUebergeordneterOrganisation">
						<xs:sequence>
							<xs:element name="mvkLeitzahl" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoNeufoegBetrieb">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="monatDerNeugruendung" type="xs:integer" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOrdination">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="ordinationsnummer" type="xs:string" />
							<xs:element name="parParrolleID_UebergeordArzt" type="xs:integer" />
							<xs:element name="vorname_UebergeordArzt" type="xs:string" />
							<xs:element name="familienname_UebergeordArzt" type="xs:string" />
							<xs:element name="titelVorneKurz_UebergeordArzt" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelVorne_UebergeordArzt" type="xs:string"
								minOccurs="0" />
							<xs:element name="leistungserbringernummer_UebergeordArzt"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOrdinationOrg">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="ordinationsnummer" type="xs:string" />
							<xs:element name="parParrolleID_UebergeordOrg" type="xs:integer" />
							<xs:element name="organisationsname_UebergeordOrg"
								type="xs:string" />
							<xs:element name="leistungserbringernummer_UebergeordOrg"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoPersonenstandsbehoerde">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="standesamtcode" type="xs:string"
								minOccurs="0" />
							<xs:element name="gemeindecode" type="xs:string" />
							<xs:element name="gemeinde" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoSchule">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="schulkennzahl" type="xs:string" />
							<xs:element name="schulartKurz" type="xs:string" />
							<xs:element name="schulart" type="xs:string" />
							<xs:element name="privatschuleJN" type="xs:string" />
							<xs:element name="schuleOeffentlichkeitsrechtJN" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoSvtOeEigEinrKrankenanstalt">
				<xs:complexContent>
					<xs:extension base="tns:dtoSvtOrganisationseinheit">
						<xs:sequence>
							<xs:element name="krankenanstaltennummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoSvtOrganisationseinheit">
				<xs:complexContent>
					<xs:extension base="tns:dtooeMitUebergeordneterOrganisation">
						<xs:sequence>
							<xs:element name="dienststellennummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="meldendeStelleCode" type="xs:string" />
							<xs:element name="svtoeBezugszeichen" type="xs:string"
								minOccurs="0" />
							<xs:element name="svtoeHierarchiestufe" type="xs:integer"
								minOccurs="0" />
							<xs:element name="svtOEBuchungskreisJN" type="xs:string" />
							<xs:element name="parteienverkehr" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoEinzelunternehmer">
				<xs:complexContent>
					<xs:extension base="tns:dtoPerson">
						<xs:sequence>
							<xs:element name="einzelunternehmername" type="xs:string"
								minOccurs="0" />
							<xs:element name="einzelunternehmernameKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="zusatzEinzelunternehmername" type="xs:string"
								minOccurs="0" />
							<xs:element name="geschaeftszweig" type="xs:string"
								minOccurs="0" />
							<xs:element name="unternehmensgruendungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="unternehmensaufloesungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="isoa3Organisationssitz" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezKurzOrgsitz" type="xs:string"
								minOccurs="0" />
							<xs:element name="rechtsformKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="rechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="isoa3Rechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezKurzRechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklassebezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseAktGutKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseAktGutBez" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseTaetigkeitKurz"
								type="xs:string" minOccurs="0" />
							<xs:element name="wirtschaftsklasseTaetigkeitBez"
								type="xs:string" minOccurs="0" />
							<xs:element name="fachgruppesektionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachgruppebezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachsektionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachsektionbezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="dtoEinzelunternehmerDiakritisch"
								type="tns:dtoEinzelunternehmerDiakritisch" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoPerson">
				<xs:complexContent>
					<xs:extension base="tns:dtoPartner">
						<xs:sequence>
							<xs:element name="titelVorneKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelVorne" type="xs:string"
								minOccurs="0" />
							<xs:element name="vorname" type="xs:string" />
							<xs:element name="familienname" type="xs:string" />
							<xs:element name="namensergaenzungKZ" type="xs:string"
								minOccurs="0" />
							<xs:element name="namensergaenzung" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelHintenKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelHinten" type="xs:string"
								minOccurs="0" />
							<xs:element name="personenartKurz" type="xs:string" />
							<xs:element name="personenart" type="xs:string" />
							<xs:element name="geschlechtKZ" type="xs:string" />
							<xs:element name="geschlecht" type="xs:string" />
							<xs:element name="bestaetigtesGeburtsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="bkUnbestaetigtesGeburtsdatum" type="tns:bkUnbestaetigtesGeburtsdatumVO"
								minOccurs="0" />
							<xs:element name="bkAmtlichesGeburtsdatum" type="tns:bkAmtlichesGeburtsdatumVO"
								minOccurs="0" />
							<xs:element name="bestaetigtesTodesDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="unbestaetigtesTodesDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="isoa3Staatsbuergerschaft" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezKurzStaatsbuergersch"
								type="xs:string" minOccurs="0" />
							<xs:element name="isoa3Doppelstaatsbuergerschaft"
								type="xs:string" minOccurs="0" />
							<xs:element name="staatenbezKurzDoppelstaatsbuer"
								type="xs:string" minOccurs="0" />
							<xs:element name="staatsbuergerschaftSonderformKZ"
								type="xs:string" minOccurs="0" />
							<xs:element name="staatsbuergerschaftSonderform" type="xs:string"
								minOccurs="0" />
							<xs:element name="geburtsname" type="xs:string"
								minOccurs="0" />
							<xs:element name="geburtsort" type="xs:string"
								minOccurs="0" />
							<xs:element name="mehrlingAnz" type="xs:integer"
								minOccurs="0" />
							<xs:element name="mehrlingbez" type="xs:string"
								minOccurs="0" />
							<xs:element name="familienstandKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="familienstand" type="xs:string"
								minOccurs="0" />
							<xs:element name="lebensgemeinschaftJN" type="xs:string" />
							<xs:element name="dtoPersonDiakritisch" type="tns:dtoPersonDiakritisch"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoEinzelunternehmerDiakritisch">
				<xs:sequence>
					<xs:element name="einzelunternehmernameDiakritisch"
						type="xs:string" minOccurs="0" />
					<xs:element name="zusatzEinzelunternehmernameDiakritisch"
						type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkUnbestaetigtesGeburtsdatumVO">
				<xs:sequence>
					<xs:element name="unvollstaendigesDatum" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkAmtlichesGeburtsdatumVO">
				<xs:sequence>
					<xs:element name="unvollstaendigesDatum" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoPersonDiakritisch">
				<xs:sequence>
					<xs:element name="titelVorneDiakritisch" type="xs:string"
						minOccurs="0" />
					<xs:element name="titelHintenDiakritisch" type="xs:string"
						minOccurs="0" />
					<xs:element name="vornameDiakritisch" type="xs:string" />
					<xs:element name="familiennameDiakritisch" type="xs:string" />
					<xs:element name="geburtsnameDiakritisch" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoPartnerKurz">
				<xs:sequence>
					<xs:element name="parParrolleID_Partner" type="xs:integer" />
					<xs:element name="partnerartKurz" type="xs:string" />
					<xs:element name="svbPKAktuellJN" type="xs:string" />
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="dtoNotizKurzListe" type="tns:dtoNotizKurz"
						nillable="true" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="dtoNeuFoegBetriebKurz" type="tns:dtoNeuFoegBetriebKurz"
						minOccurs="0" />
					<xs:element name="dtoNamenszusammenfassung" type="tns:dtoNamenszusammenfassung"
						minOccurs="0" />
					<xs:element name="dtoNamenszusammenfassungDiakritisch"
						type="tns:dtoNamenszusammenfassungDiakritisch" minOccurs="0" />
					<xs:element name="dtoBearbeiterinformation" type="tns:dtoBearbeiterinformation"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoNotizKurz">
				<xs:sequence>
					<xs:element name="notizID" type="xs:integer" />
					<xs:element name="betreff" type="xs:string" />
					<xs:element name="erfassungsDAT" type="xs:date" />
					<xs:element name="notiztext" type="xs:string" />
					<xs:element name="meldendeStelleCode" type="xs:string"
						minOccurs="0" />
					<xs:element name="notizArtKurz" type="xs:string"
						minOccurs="0" />
					<xs:element name="notizArt" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoNeuFoegBetriebKurz">
				<xs:sequence>
					<xs:element name="monatDerNeugruendung" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoOrganisationKurz">
				<xs:complexContent>
					<xs:extension base="tns:dtoPartnerKurz">
						<xs:sequence>
							<xs:element name="organisationsname" type="xs:string" />
							<xs:element name="zusatzOrganisationsname" type="xs:string"
								minOccurs="0" />
							<xs:element name="organisationsnameKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="organisationsartKurz" type="xs:string" />
							<xs:element name="organisationsart" type="xs:string" />
							<xs:element name="fsArtOrganisation" type="xs:string"
								minOccurs="0" />
							<xs:element name="fsOrganisation" type="xs:string"
								minOccurs="0" />
							<xs:element name="organisationGruendungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="organisationAufloesungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="dtoOrganisationDiakritisch" type="tns:dtoOrganisationDiakritisch"
								minOccurs="0" />
							<xs:element name="isoA3Organisationssitz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoEinzelunternehmerKurz">
				<xs:complexContent>
					<xs:extension base="tns:dtoPersonKurz">
						<xs:sequence>
							<xs:element name="einzelunternehmername" type="xs:string"
								minOccurs="0" />
							<xs:element name="zusatzEinzelunternehmername" type="xs:string"
								minOccurs="0" />
							<xs:element name="einzelunternehmernameKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="unternehmensgruendungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="unternehmensaufloesungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="dtoEinzelunternehmerDiakritisch"
								type="tns:dtoEinzelunternehmerDiakritisch" minOccurs="0" />
							<xs:element name="isoA3Organisationssitz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoPersonKurz">
				<xs:complexContent>
					<xs:extension base="tns:dtoPartnerKurz">
						<xs:sequence>
							<xs:element name="titelVorneKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelVorne" type="xs:string"
								minOccurs="0" />
							<xs:element name="vorname" type="xs:string" />
							<xs:element name="familienname" type="xs:string" />
							<xs:element name="namensergaenzungKZ" type="xs:string"
								minOccurs="0" />
							<xs:element name="namensergaenzung" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelHintenKurz" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelHinten" type="xs:string"
								minOccurs="0" />
							<xs:element name="personenartKurz" type="xs:string" />
							<xs:element name="personenart" type="xs:string" />
							<xs:element name="geschlechtKZ" type="xs:string" />
							<xs:element name="geschlecht" type="xs:string" />
							<xs:element name="bestaetigtesGeburtsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="bkUnbestaetigtesGeburtsdatum" type="tns:bkUnbestaetigtesGeburtsdatumVO"
								minOccurs="0" />
							<xs:element name="bkAmtlichesGeburtsdatum" type="tns:bkAmtlichesGeburtsdatumVO"
								minOccurs="0" />
							<xs:element name="bestaetigtesTodesDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="unbestaetigtesTodesDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="dtoPersonDiakritisch" type="tns:dtoPersonDiakritisch"
								minOccurs="0" />
							<xs:element name="isoA3Staatsbuergerschaft" type="xs:string"
								minOccurs="0" />
							<xs:element name="familienstandKurz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoPartnerrolleKurz">
				<xs:sequence>
					<xs:element name="parParrolleID_Partnerrolle" type="xs:integer" />
					<xs:element name="partnerrollenartKurz" type="xs:string" />
					<xs:element name="partnerrollenart" type="xs:string" />
					<xs:element name="fachschluesselartKurzbez" type="xs:string" />
					<xs:element name="fsPartnerrolle" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO"
						minOccurs="0" />
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="dtoAnschriftKurz" type="tns:dtoAnschriftKurz"
						minOccurs="0" />
					<xs:element name="dtoGeldadresseKurz" type="tns:dtoGeldadresseKurz"
						minOccurs="0" />
					<xs:element name="dtoNotizKurzListe" type="tns:dtoNotizKurz"
						nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkGueltigkeitszeitraumVO">
				<xs:sequence>
					<xs:element name="gueltigVonDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="gueltigBisDAT" type="xs:date"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftKurz">
				<xs:sequence>
					<xs:element name="adresszuordnungID" type="xs:integer" />
					<xs:element name="adresseAevNummer" type="xs:integer" />
					<xs:element name="anschriftstypKurz" type="xs:string" />
					<xs:element name="anschriftstyp" type="xs:string" />
					<xs:element name="adresszuordnungAbgabestelle" type="xs:string"
						minOccurs="0" />
					<xs:element name="verwendungsartkurz" type="xs:string" />
					<xs:element name="verwendungsart" type="xs:string" />
					<xs:element name="gebrauchKurz" type="xs:string" />
					<xs:element name="gebrauch" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="staatIsoA3" type="xs:string" />
					<xs:element name="staatenbezeichnungKurz" type="xs:string" />
					<xs:element name="ort" type="xs:string" />
					<xs:element name="postleitzahl" type="xs:string"
						minOccurs="0" />
					<xs:element name="dtoAnschriftszusammenfassung" type="tns:dtoAnschriftszusammenfassung"
						minOccurs="0" />
					<xs:element name="dtoAnschriftVerwaltungsgliederungListe"
						type="tns:dtoAnschriftVerwaltungsgliederung" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="dtoPartnerKurzListe_zustaendigesGerichtInspekorat"
						type="tns:dtoPartnerKurz" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftszusammenfassung">
				<xs:sequence>
					<xs:element name="anschriftszeile1" type="xs:string" />
					<xs:element name="anschriftszeile2" type="xs:string" />
					<xs:element name="anschriftszeile3" type="xs:string"
						minOccurs="0" />
					<xs:element name="anschriftszeile4" type="xs:string"
						minOccurs="0" />
					<xs:element name="anschriftszeile5" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftVerwaltungsgliederung">
				<xs:sequence>
					<xs:element name="gemeindecode" type="xs:string" />
					<xs:element name="bundesland" type="xs:string" />
					<xs:element name="politischerBezirk" type="xs:string"
						minOccurs="0" />
					<xs:element name="gemeinde" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftPostfachKurz">
				<xs:complexContent>
					<xs:extension base="tns:dtoAnschriftKurz">
						<xs:sequence>
							<xs:element name="postfachtext" type="xs:string" />
							<xs:element name="postfachnummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftStrasseKurz">
				<xs:complexContent>
					<xs:extension base="tns:dtoAnschriftKurz">
						<xs:sequence>
							<xs:element name="strasse" type="xs:string" minOccurs="0" />
							<xs:element name="hausnummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="stockTuernummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="anschriftszusatz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoGeldadresseKurz">
				<xs:sequence>
					<xs:element name="adresszuordnungID" type="xs:integer" />
					<xs:element name="adresseAevNummer" type="xs:integer" />
					<xs:element name="geldadresstypKurz" type="xs:string" />
					<xs:element name="geldadresstyp" type="xs:string" />
					<xs:element name="adresszuordnungAbgabestelle" type="xs:string"
						minOccurs="0" />
					<xs:element name="verwendungsartKurz" type="xs:string" />
					<xs:element name="verwendungsart" type="xs:string" />
					<xs:element name="gebrauchKurz" type="xs:string" />
					<xs:element name="gebrauch" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="staatIsoA3" type="xs:string" />
					<xs:element name="staatenbezeichnungKurz" type="xs:string" />
					<xs:element name="dtoGeldadressvereinbarungKurzListe"
						type="tns:dtoGeldadressvereinbarungKurz" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoGeldadressvereinbarungKurz">
				<xs:sequence>
					<xs:element name="geldadressvereinbarungID" type="xs:integer" />
					<xs:element name="meldendeStelleCode" type="xs:string" />
					<xs:element name="geldadressVereinbarungsArtKurz" type="xs:string" />
					<xs:element name="geldadressVereinbarungsArt" type="xs:string" />
					<xs:element name="geldadressVereinbarungsText" type="xs:string"
						minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoGeldadresseAnschriftKurz">
				<xs:complexContent>
					<xs:extension base="tns:dtoGeldadresseKurz">
						<xs:sequence>
							<xs:element name="postleitzahl" type="xs:string"
								minOccurs="0" />
							<xs:element name="ort" type="xs:string" />
							<xs:element name="strasse" type="xs:string" minOccurs="0" />
							<xs:element name="hausnummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="stockTuernummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="anschriftszusatz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoGeldadresseBankkontoKurz">
				<xs:complexContent>
					<xs:extension base="tns:dtoGeldadresseKurz">
						<xs:sequence>
							<xs:element name="bankleitzahl" type="xs:string" />
							<xs:element name="bankinstitut" type="xs:string" />
							<xs:element name="bankkontonummer" type="xs:string" />
							<xs:element name="bankIdentifikationsCode" type="xs:string" />
							<xs:element name="internationaleBankkontonummer" type="xs:string" />
							<xs:element name="bankkontoBezeichnung" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoPartnernameKurz">
				<xs:sequence>
					<xs:element name="partnenameID" type="xs:integer" />
					<xs:element name="name" type="xs:string" />
					<xs:element name="nameArtKurz" type="xs:string" />
					<xs:element name="nameArt" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoFremdidentifikationKurz">
				<xs:sequence>
					<xs:element name="partnerFremdidentifikationID" type="xs:integer" />
					<xs:element name="fachschluesselartKurz" type="xs:string" />
					<xs:element name="fachschluesselart" type="xs:string" />
					<xs:element name="fachschluessel" type="xs:string" />
					<xs:element name="staatIsoA3" type="xs:string"
						minOccurs="0" />
					<xs:element name="staatenbezeichnungKurz" type="xs:string"
						minOccurs="0" />
					<xs:element name="meldendeStelleCode" type="xs:string"
						minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoKlassifizierungKurz">
				<xs:sequence>
					<xs:element name="partnerKlassifizierungID" type="xs:integer" />
					<xs:element name="klassifizierungKurz" type="xs:string" />
					<xs:element name="klassifizierung" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoFastnrKurz">
				<xs:sequence>
					<xs:element name="partnerFastnrID" type="xs:integer" />
					<xs:element name="finanzamtnummer" type="xs:string" />
					<xs:element name="steuernummer" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoJN" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoInsolvenzverfahrenKurz">
				<xs:sequence>
					<xs:element name="insolvenzverfahrenID" type="xs:integer" />
					<xs:element name="insolvenzverfahrensartKurz" type="xs:string" />
					<xs:element name="insolvenzverfahrensart" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="insolvenzAufhebungDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="insolvenzaufhebungsgrundKurz" type="xs:string"
						minOccurs="0" />
					<xs:element name="insolvenzaufhebungsgrund" type="xs:string"
						minOccurs="0" />
					<xs:element name="forderungsanmeldungsfristDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="bekanntmachungDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="betriebsschliessungDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="dtoPartnerKurz_Insolvenzverwalter"
						type="tns:dtoPartnerKurz" />
					<xs:element name="insolvenzverwaltungsfunktionKurz"
						type="xs:string" minOccurs="0" />
					<xs:element name="insolvenzverwaltungsfunktion" type="xs:string"
						minOccurs="0" />
					<xs:element name="dtoPartnerKurz_Gericht" type="tns:dtoPartnerKurz" />
					<xs:element name="geschaeftszahl" type="xs:string"
						minOccurs="0" />
					<xs:element name="bezugszeichen" type="xs:string"
						minOccurs="0" />
					<xs:element name="gerichtsnummer" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoVerweisKurzLELO">
				<xs:sequence>
					<xs:element name="verweisID" type="xs:integer" />
					<xs:element name="verweisartKurz" type="xs:string" />
					<xs:element name="verweisart" type="xs:string" />
					<xs:element name="verweisErstDAT" type="xs:date" />
					<xs:element name="dtoPartnerKurz_Bezugspartner" type="tns:dtoPartnerKurz" />
					<xs:element name="dtoPartnerrolleKurz_Bezugsrolle" type="tns:dtoPartnerrolleKurz" />
					<xs:element name="dtoPartnerrolleKurz_Ausgangsrolle"
						type="tns:dtoPartnerrolleKurz" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoBeziehungKurz">
				<xs:sequence>
					<xs:element name="beziehungsID" type="xs:integer" />
					<xs:element name="beziehungsartKurz" type="xs:string" />
					<xs:element name="beziehungsart" type="xs:string" />
					<xs:element name="beziehungsartInversJN" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="dtoPartnerKurz_Bezugspartner" type="tns:dtoPartnerKurz" />
					<xs:element name="dtoPartnerrolleKurz_Bezugsrolle" type="tns:dtoPartnerrolleKurz" />
					<xs:element name="dtoPartnerrolleKurz_Ausgangsrolle"
						type="tns:dtoPartnerrolleKurz" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoKlassFachgebietKurz">
				<xs:sequence>
					<xs:element name="klassifizierungFachgebietID" type="xs:integer" />
					<xs:element name="klassifizierungLEKurz" type="xs:string" />
					<xs:element name="klassifizierungLEKurzBez" type="xs:string" />
					<xs:element name="fachgebietcode" type="xs:string" />
					<xs:element name="fachgebietSehrKurzBez" type="xs:string" />
					<xs:element name="fachgebietKurzBez" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO"
						minOccurs="0" />
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="rettungJN" type="xs:string" minOccurs="0" />
					<xs:element name="taxiJN" type="xs:string" minOccurs="0" />
					<xs:element name="flugtransportJN" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoPartnerVPNRKurz">
				<xs:sequence>
					<xs:element name="vertragspartnernummerID" type="xs:integer" />
					<xs:element name="vertragspartnernummer" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="vertragspartnernummerEndegrund" type="xs:string"
						minOccurs="0" />
					<xs:element name="stornoJN" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoBeitragskonto">
				<xs:sequence>
					<xs:element name="beitragskontonrID" type="xs:integer" />
					<xs:element name="meldendeStelleCode" type="xs:string" />
					<xs:element name="hvbBeitragskontonummer" type="xs:string" />
					<xs:element name="svtBeitragskontonummer" type="xs:string" />
					<xs:element name="beitragskontonummernartKurz" type="xs:string" />
					<xs:element name="beitragskontonummernart" type="xs:string" />
					<xs:element name="beitragskontoBezeichnung" type="xs:string"
						minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoJN" type="xs:string" />
					<xs:element name="dienstgebernummer" type="xs:string"
						minOccurs="0" />
					<xs:element name="versicherungsnummer" type="xs:string"
						minOccurs="0" />
					<xs:element name="dtoBktonrBetriebsortKurz" type="tns:dtoBktonrBetriebsortKurz"
						minOccurs="0" />
					<xs:element name="dtoHauptwiklasseKurz" type="tns:dtoHauptwiklasseKurz"
						minOccurs="0" />
					<xs:element name="dtoHauptfachgrsekKurz" type="tns:dtoHauptfachgrsekKurz"
						minOccurs="0" />
					<xs:element name="dtoAnschriftKurz" type="tns:dtoAnschriftKurz"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoBktonrBetriebsortKurz">
				<xs:sequence>
					<xs:element name="bktonrBetriebsortID" type="xs:integer" />
					<xs:element name="staatIsoA3" type="xs:string" />
					<xs:element name="staatenbezeichnungKurz" type="xs:string" />
					<xs:element name="bundeslandcode" type="xs:string"
						minOccurs="0" />
					<xs:element name="bundesland" type="xs:string"
						minOccurs="0" />
					<xs:element name="politischerBezirkCode" type="xs:string"
						minOccurs="0" />
					<xs:element name="politischerBezirk" type="xs:string"
						minOccurs="0" />
					<xs:element name="gemeindecode" type="xs:string"
						minOccurs="0" />
					<xs:element name="gemeinde" type="xs:string" minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoHauptwiklasseKurz">
				<xs:sequence>
					<xs:element name="hauptwiklasseID" type="xs:integer" />
					<xs:element name="wirtschaftsklasseCode" type="xs:string" />
					<xs:element name="wirtschaftsklassebezeichnung" type="xs:string" />
					<xs:element name="wirtschaftsklasseAktGutKurz" type="xs:string"
						minOccurs="0" />
					<xs:element name="wirtschaftsklasseAktGutBez" type="xs:string"
						minOccurs="0" />
					<xs:element name="wirtschaftsklasseTaetigkeitKurz" type="xs:string"
						minOccurs="0" />
					<xs:element name="wirtschaftsklasseTaetigkeitBez" type="xs:string"
						minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="wiklasseGeaendertStatistikaustriaJN"
						type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoHauptfachgrsekKurz">
				<xs:sequence>
					<xs:element name="hauptfachgruppesektionID" type="xs:integer" />
					<xs:element name="fachgruppesektionCode" type="xs:string" />
					<xs:element name="fachgruppebezeichnung" type="xs:string" />
					<xs:element name="fachBerufsgruppeKZ" type="xs:string" />
					<xs:element name="fachsektionCode" type="xs:string" />
					<xs:element name="fachsektionbezeichnung" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="iReturnVO">
				<xs:sequence>
					<xs:element name="meldungen" type="tns:iMeldungVO"
						nillable="true" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="ok" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="iMeldungVO">
				<xs:sequence>
					<xs:element name="fehlerId" type="xs:string" minOccurs="0" />
					<xs:element name="fehlerkategorie" type="xs:string"
						minOccurs="0" />
					<xs:element name="meldungstext" type="xs:string"
						minOccurs="0" />
					<xs:element name="parameter" type="xs:string" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>

	</types>
	<message name="partnerLesenLang">
		<part name="parameters" element="tns:partnerLesenLang" />
	</message>
	<message name="partnerLesenLangResponse">
		<part name="parameters" element="tns:partnerLesenLangResponse" />
	</message>
	<portType name="PartnerLesenLang">
		<operation name="partnerLesenLang">
			<input message="tns:partnerLesenLang" />
			<output message="tns:partnerLesenLangResponse" />
		</operation>
	</portType>
	<binding name="PartnerLesenLangPortBinding" type="tns:PartnerLesenLang">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="partnerLesenLang">
			<soap:operation soapAction="partnerLesenLang" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SEPartnerLesenLangService">
		<port name="PartnerLesenLangPort" binding="tns:PartnerLesenLangPortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>
</definitions>

