ejb2cdi-example/ws-generated/src/main/wsdl/PersonenService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.4-b01-. -->
<definitions
	targetNamespace="http://www.objectbay.at/schema/test/svc/CustomerRead_6_0"
	name="SECustomerReadService"
	xmlns:tns="http://www.objectbay.at/schema/test/svc/CustomerRead_6_0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xs:schema version="1.0"
			targetNamespace="http://www.objectbay.at/schema/test/svc/CustomerRead_6_0"
			xmlns:tns="http://www.objectbay.at/schema/test/svc/CustomerRead_6_0"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">

			<xs:element name="customerRead" type="tns:customerRead" />

			<xs:element name="customerReadResponse" type="tns:customerReadResponse" />

			<xs:complexType name="customerRead">
				<xs:sequence>
					<xs:element name="dtoCustomerLELI" type="tns:dtoCustomerLELI"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoCustomerLELI">
				<xs:complexContent>
					<xs:extension base="tns:dtoInput">
						<xs:sequence>
							<xs:element name="dtoCustomerParrolleIdentifikation_Customer"
								type="tns:dtoCustomerParrolleIdentifikation" />
							<xs:element name="customerDiakritischOpt" type="xs:string" />
							<xs:element name="namenszusammenfassungOpt" type="xs:string" />
							<xs:element name="namensGebrauchShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="customerrollenartShortAnforderung"
								type="xs:string" minOccurs="0" />
							<xs:element name="anschriftOpt" type="xs:string" />
							<xs:element name="andremAevNummer_Anschrift" type="xs:integer"
								minOccurs="0" />
							<xs:element name="ermittlungsartAndremShort_Anschrift"
								type="xs:string" minOccurs="0" />
							<xs:element name="zustellandremBerueckOpt_Anschrift"
								type="xs:string" minOccurs="0" />
							<xs:element name="voruebergehendeAndremBerueckOpt_Anschrift"
								type="xs:string" minOccurs="0" />
							<xs:element name="anschriftszusammenfassungOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="laengezusammenfassung" type="xs:integer"
								minOccurs="0" />
							<xs:element name="anschriftVerwaltungsgliederungOpt"
								type="xs:string" minOccurs="0" />
							<xs:element name="landesgerichteOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="bezirksgerichteOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="arbeitsSozialGerichteOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="arbeitsinspektorateOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="landForstwInspektorateOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="arbeitsInspektoratBauarbOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="geldandremOpt" type="xs:string" />
							<xs:element name="andremAevNummer_Geldandrem" type="xs:integer"
								minOccurs="0" />
							<xs:element name="ermittlungsartAndremShort_Geldandrem"
								type="xs:string" minOccurs="0" />
							<xs:element name="voruebergehendeAndremBerueckOpt_Geldandrem"
								type="xs:string" minOccurs="0" />
							<xs:element name="geldadressvereinbarungOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="geldadressvereinbarungsartShort"
								type="xs:string" minOccurs="0" />
							<xs:element name="weitereNamenOpt" type="xs:string" />
							<xs:element name="fremdidentifikationOpt" type="xs:string" />
							<xs:element name="klassifizierungOpt" type="xs:string" />
							<xs:element name="finanzamtSteuernrOpt" type="xs:string" />
							<xs:element name="insolvenzverfahrenOpt" type="xs:string" />
							<xs:element name="notizOpt" type="xs:string" />
							<xs:element name="neuFoegOpt" type="xs:string" />
							<xs:element name="klassifzierungFachgebietOpt" type="xs:string" />
							<xs:element name="vertragscustomernummerOpt" type="xs:string" />
							<xs:element name="verweiseOpt" type="xs:string" />
							<xs:element name="beziehungOpt" type="xs:string" />
							<xs:element name="beziehungsartShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="historieOpt" type="xs:string"
								minOccurs="0" />
							<xs:element name="aenderungVonDat" type="xs:date"
								minOccurs="0" />
							<xs:element name="aenderungBisDat" type="xs:date"
								minOccurs="0" />
							<xs:element name="bearbeiterinfoOpt" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoInput" abstract="true">
				<xs:sequence>
					<xs:element name="bkBearbeiter" type="tns:bkBearbeiterVO" />
					<xs:element name="version" type="xs:string" />
					<xs:element name="verarbeitungsmodus" type="xs:string" />
					<xs:element name="transactionid" type="xs:integer"
						minOccurs="0" />
					<xs:element name="idapp" type="xs:string" />
					<xs:element name="systemmodus" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoCustomerParrolleIdentifikation">
				<xs:sequence>
					<xs:element name="parParrolleID" type="xs:integer"
						minOccurs="0" />
					<xs:element name="bkFachschluesselAngabe" type="tns:bkFachschluesselAngabeVO"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkFachschluesselAngabeVO">
				<xs:sequence>
					<xs:element name="fachschluesselartShort" type="xs:string" />
					<xs:element name="fachschluessel" type="xs:string" />
					<xs:element name="fachschluesselGueltigDat" type="xs:date"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkBearbeiterVO">
				<xs:sequence>
					<xs:element name="bearbeiterMstCode" type="xs:string" />
					<xs:element name="orgeinheitid" type="xs:string"
						minOccurs="0" />
					<xs:element name="bearbeiter" type="xs:string" />
					<xs:element name="bearbeitergruppe" type="xs:string"
						minOccurs="0" />
					<xs:element name="passwort" type="xs:string" minOccurs="0" />
					<xs:element name="bearbGrund" type="xs:string"
						minOccurs="0" />
					<xs:element name="transactionUUID" type="xs:string"
						minOccurs="0" />
					<xs:element name="funktionShort" type="xs:string"
						minOccurs="0" />
					<xs:element name="aufrufpfad" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="customerReadResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:dtoCustomerLELO"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoCustomerLELO">
				<xs:complexContent>
					<xs:extension base="tns:dtoOutput">
						<xs:sequence>
							<xs:element name="dtoCustomerListe" type="tns:dtoCustomer"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoCustomerShortListe_NeufoegBetrieb"
								type="tns:dtoCustomerShort" nillable="true" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element name="dtoCustomerrolleShortListe" type="tns:dtoCustomerrolleShort"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoAnschriftShort" type="tns:dtoAnschriftShort"
								minOccurs="0" />
							<xs:element name="dtoGeldandremShort" type="tns:dtoGeldandremShort"
								minOccurs="0" />
							<xs:element name="dtoCustomernameShortListe" type="tns:dtoCustomernameShort"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoFremdidentifikationShortListe"
								type="tns:dtoFremdidentifikationShort" nillable="true" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element name="dtoKlassifizierungShortListe" type="tns:dtoKlassifizierungShort"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoFastnrShort" type="tns:dtoFastnrShort"
								minOccurs="0" />
							<xs:element name="dtoInsolvenzverfahrenShortListe"
								type="tns:dtoInsolvenzverfahrenShort" nillable="true" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element name="dtoNotizShortListe" type="tns:dtoNotizShort"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoVerweisShortListe" type="tns:dtoVerweisShortLELO"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoBeziehungShortListe" type="tns:dtoBeziehungShort"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoKlassFachgebietShortListe" type="tns:dtoKlassFachgebietShort"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoCustomerVPNRShortListe" type="tns:dtoCustomerVPNRShort"
								nillable="true" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="dtoBeitragskonto" type="tns:dtoBeitragskonto"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOutput" abstract="true">
				<xs:sequence>
					<xs:element name="fehlerpaket" type="tns:iReturnVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoCustomer">
				<xs:sequence>
					<xs:element name="parParrolleID_Customer" type="xs:integer" />
					<xs:element name="customerartShort" type="xs:string" />
					<xs:element name="anredeKZ" type="xs:string" minOccurs="0" />
					<xs:element name="anrede" type="xs:string" minOccurs="0" />
					<xs:element name="wirtschaftkammerMitgliedOpt" type="xs:string"
						minOccurs="0" />
					<xs:element name="svbPKAktuellOpt" type="xs:string"
						minOccurs="0" />
					<xs:element name="updatecount" type="xs:integer" />
					<xs:element name="bkStornoinformation" type="tns:bkStornoinformationVO" />
					<xs:element name="dtoBearbeiterinformation" type="tns:dtoBearbeiterinformation"
						minOccurs="0" />
					<xs:element name="dtoNamenszusammenfassung" type="tns:dtoNamenszusammenfassung"
						minOccurs="0" />
					<xs:element name="dtoNamenszusammenfassungDiakritisch"
						type="tns:dtoNamenszusammenfassungDiakritisch" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkStornoinformationVO">
				<xs:sequence>
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="stornogrund" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoBearbeiterinformation">
				<xs:sequence>
					<xs:element name="bkBearbeiterinformation" type="tns:bkBearbeiterinformationVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkBearbeiterinformationVO">
				<xs:sequence>
					<xs:element name="erstellerMstCode" type="xs:string" />
					<xs:element name="ersteller" type="xs:string" />
					<xs:element name="erstellTS" type="xs:dateTime" />
					<xs:element name="letztAendMstCode" type="xs:string" />
					<xs:element name="letztAend" type="xs:string" />
					<xs:element name="letztAendTS" type="xs:dateTime" />
					<xs:element name="bearbGrund" type="xs:string"
						minOccurs="0" />
					<xs:element name="transactionUUID" type="xs:string" />
					<xs:element name="funktionShort" type="xs:string" />
					<xs:element name="aktion" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoHistorisierungsinformation">
				<xs:complexContent>
					<xs:extension base="tns:dtoBearbeiterinformation">
						<xs:sequence>
							<xs:element name="histTS" type="xs:dateTime" />
							<xs:element name="histAktion" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoNamenszusammenfassung">
				<xs:sequence>
					<xs:element name="namenszeile1" type="xs:string" />
					<xs:element name="namenszeile2" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoNamenszusammenfassungDiakritisch">
				<xs:sequence>
					<xs:element name="namenzeileDiakritisch1" type="xs:string" />
					<xs:element name="namenzeileDiakritisch2" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAmsOE">
				<xs:complexContent>
					<xs:extension base="tns:dtooeMitUebergeordneterOrganisation">
						<xs:sequence>
							<xs:element name="amsNummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtooeMitUebergeordneterOrganisation">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="parParrolleID_UebergeordOrg" type="xs:integer" />
							<xs:element name="organisationsname_UebergeordOrg"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOrganisationAllgemein">
				<xs:complexContent>
					<xs:extension base="tns:dtoCustomer">
						<xs:sequence>
							<xs:element name="organisationsname" type="xs:string" />
							<xs:element name="organisationsnameShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="zusatzOrganisationsname" type="xs:string"
								minOccurs="0" />
							<xs:element name="geschaeftszweig" type="xs:string"
								minOccurs="0" />
							<xs:element name="organisationsartShort" type="xs:string" />
							<xs:element name="organisationsart" type="xs:string" />
							<xs:element name="organisationGruendungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="organisationAufloesungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="isoa3Organisationssitz" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezShortOrgsitz" type="xs:string"
								minOccurs="0" />
							<xs:element name="rechtsformShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="rechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="isoa3Rechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezShortRechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklassebezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseAktGutShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseAktGutBez" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseTaetigkeitShort"
								type="xs:string" minOccurs="0" />
							<xs:element name="wirtschaftsklasseTaetigkeitBez"
								type="xs:string" minOccurs="0" />
							<xs:element name="fachgruppesektionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachgruppebezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachsektionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachsektionbezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="institutionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="dtoOrganisationDiakritisch" type="tns:dtoOrganisationDiakritisch"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOrganisationDiakritisch">
				<xs:sequence>
					<xs:element name="organisationsnameDiakritisch" type="xs:string" />
					<xs:element name="zusatzOrganisationsnameDiakritisch"
						type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoArbeitsinspektorat">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="aiNummer" type="xs:string" />
							<xs:element name="aiArtShort" type="xs:string" />
							<xs:element name="aiArt" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoAuslaendischerSvTraeger">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="institutionCodeFingiertOpt" type="xs:string" />
							<xs:element name="staatIsoA2" type="xs:string" />
							<xs:element name="staatenbezeichnungShort" type="xs:string" />
							<xs:element name="kvTraegerOpt" type="xs:string" />
							<xs:element name="pvTraegerOpt" type="xs:string" />
							<xs:element name="uvTraegerOpt" type="xs:string" />
							<xs:element name="abrechnungskasseOpt" type="xs:string" />
							<xs:element name="svTraegerArtShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="svTraegerArtBez" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoFinanzamt">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="finanzamtnummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoGericht">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="gerichtsnummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="klOpt" type="xs:string" />
							<xs:element name="kaOpt" type="xs:string" />
							<xs:element name="exOpt" type="xs:string" />
							<xs:element name="soOpt" type="xs:string" />
							<xs:element name="kgOpt" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoInlaendischerSvTraeger">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="versicherungstraegercode" type="xs:string" />
							<xs:element name="kvTraegerOpt" type="xs:string" />
							<xs:element name="pvTraegerOpt" type="xs:string" />
							<xs:element name="uvTraegerOpt" type="xs:string" />
							<xs:element name="gkkOpt" type="xs:string" />
							<xs:element name="dvr" type="xs:string" />
							<xs:element name="bundesland" type="xs:string"
								minOccurs="0" />
							<xs:element name="bundeslandcode" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoKrankenanstalt">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="krankenanstaltennummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoLkf">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="lkfCode" type="xs:string" />
							<xs:element name="bundeslandcode" type="xs:string" />
							<xs:element name="bundesland" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoMitarbeitervorsorgekasse">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="mvkLeitzahlVon" type="xs:string" />
							<xs:element name="mvkLeitzahlBis" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoMvkAnsprechstelle">
				<xs:complexContent>
					<xs:extension base="tns:dtooeMitUebergeordneterOrganisation">
						<xs:sequence>
							<xs:element name="mvkLeitzahl_UebergeordOrg" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoMvkLeitzahl">
				<xs:complexContent>
					<xs:extension base="tns:dtooeMitUebergeordneterOrganisation">
						<xs:sequence>
							<xs:element name="mvkLeitzahl" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoNeufoegBetrieb">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="monatDerNeugruendung" type="xs:integer" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOrdination">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="ordinationsnummer" type="xs:string" />
							<xs:element name="parParrolleID_UebergeordArzt" type="xs:integer" />
							<xs:element name="vorname_UebergeordArzt" type="xs:string" />
							<xs:element name="familienname_UebergeordArzt" type="xs:string" />
							<xs:element name="titelVorneShort_UebergeordArzt" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelVorne_UebergeordArzt" type="xs:string"
								minOccurs="0" />
							<xs:element name="leistungserbringernummer_UebergeordArzt"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoOrdinationOrg">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="ordinationsnummer" type="xs:string" />
							<xs:element name="parParrolleID_UebergeordOrg" type="xs:integer" />
							<xs:element name="organisationsname_UebergeordOrg"
								type="xs:string" />
							<xs:element name="leistungserbringernummer_UebergeordOrg"
								type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoPersonenstandsbehoerde">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="standesamtcode" type="xs:string"
								minOccurs="0" />
							<xs:element name="gemeindecode" type="xs:string" />
							<xs:element name="gemeinde" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoSchule">
				<xs:complexContent>
					<xs:extension base="tns:dtoOrganisationAllgemein">
						<xs:sequence>
							<xs:element name="schulkennzahl" type="xs:string" />
							<xs:element name="schulartShort" type="xs:string" />
							<xs:element name="schulart" type="xs:string" />
							<xs:element name="privatschuleOpt" type="xs:string" />
							<xs:element name="schuleOeffentlichkeitsrechtOpt" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoSvtOeEigEinrKrankenanstalt">
				<xs:complexContent>
					<xs:extension base="tns:dtoSvtOrganisationseinheit">
						<xs:sequence>
							<xs:element name="krankenanstaltennummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoSvtOrganisationseinheit">
				<xs:complexContent>
					<xs:extension base="tns:dtooeMitUebergeordneterOrganisation">
						<xs:sequence>
							<xs:element name="dienststellennummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="meldendeStelleCode" type="xs:string" />
							<xs:element name="svtoeBezugszeichen" type="xs:string"
								minOccurs="0" />
							<xs:element name="svtoeHierarchiestufe" type="xs:integer"
								minOccurs="0" />
							<xs:element name="svtOEBuchungskreisOpt" type="xs:string" />
							<xs:element name="parteienverkehr" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoEinzelunternehmer">
				<xs:complexContent>
					<xs:extension base="tns:dtoPerson">
						<xs:sequence>
							<xs:element name="einzelunternehmername" type="xs:string"
								minOccurs="0" />
							<xs:element name="einzelunternehmernameShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="zusatzEinzelunternehmername" type="xs:string"
								minOccurs="0" />
							<xs:element name="geschaeftszweig" type="xs:string"
								minOccurs="0" />
							<xs:element name="unternehmensgruendungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="unternehmensaufloesungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="isoa3Organisationssitz" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezShortOrgsitz" type="xs:string"
								minOccurs="0" />
							<xs:element name="rechtsformShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="rechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="isoa3Rechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezShortRechtsform" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklassebezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseAktGutShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseAktGutBez" type="xs:string"
								minOccurs="0" />
							<xs:element name="wirtschaftsklasseTaetigkeitShort"
								type="xs:string" minOccurs="0" />
							<xs:element name="wirtschaftsklasseTaetigkeitBez"
								type="xs:string" minOccurs="0" />
							<xs:element name="fachgruppesektionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachgruppebezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachsektionCode" type="xs:string"
								minOccurs="0" />
							<xs:element name="fachsektionbezeichnung" type="xs:string"
								minOccurs="0" />
							<xs:element name="dtoEinzelunternehmerDiakritisch"
								type="tns:dtoEinzelunternehmerDiakritisch" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoPerson">
				<xs:complexContent>
					<xs:extension base="tns:dtoCustomer">
						<xs:sequence>
							<xs:element name="titelVorneShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelVorne" type="xs:string"
								minOccurs="0" />
							<xs:element name="vorname" type="xs:string" />
							<xs:element name="familienname" type="xs:string" />
							<xs:element name="namensergaenzungKZ" type="xs:string"
								minOccurs="0" />
							<xs:element name="namensergaenzung" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelHintenShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelHinten" type="xs:string"
								minOccurs="0" />
							<xs:element name="personenartShort" type="xs:string" />
							<xs:element name="personenart" type="xs:string" />
							<xs:element name="geschlechtKZ" type="xs:string" />
							<xs:element name="geschlecht" type="xs:string" />
							<xs:element name="bestaetigtesGeburtsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="bkUnbestaetigtesGeburtsdatum" type="tns:bkUnbestaetigtesGeburtsdatumVO"
								minOccurs="0" />
							<xs:element name="bkAmtlichesGeburtsdatum" type="tns:bkAmtlichesGeburtsdatumVO"
								minOccurs="0" />
							<xs:element name="bestaetigtesTodesDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="unbestaetigtesTodesDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="isoa3Staatsbuergerschaft" type="xs:string"
								minOccurs="0" />
							<xs:element name="staatenbezShortStaatsbuergersch"
								type="xs:string" minOccurs="0" />
							<xs:element name="isoa3Doppelstaatsbuergerschaft"
								type="xs:string" minOccurs="0" />
							<xs:element name="staatenbezShortDoppelstaatsbuer"
								type="xs:string" minOccurs="0" />
							<xs:element name="staatsbuergerschaftSonderformKZ"
								type="xs:string" minOccurs="0" />
							<xs:element name="staatsbuergerschaftSonderform" type="xs:string"
								minOccurs="0" />
							<xs:element name="geburtsname" type="xs:string"
								minOccurs="0" />
							<xs:element name="geburtsort" type="xs:string"
								minOccurs="0" />
							<xs:element name="mehrlingAnz" type="xs:integer"
								minOccurs="0" />
							<xs:element name="mehrlingbez" type="xs:string"
								minOccurs="0" />
							<xs:element name="familienstandShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="familienstand" type="xs:string"
								minOccurs="0" />
							<xs:element name="lebensgemeinschaftOpt" type="xs:string" />
							<xs:element name="dtoPersonDiakritisch" type="tns:dtoPersonDiakritisch"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoEinzelunternehmerDiakritisch">
				<xs:sequence>
					<xs:element name="einzelunternehmernameDiakritisch"
						type="xs:string" minOccurs="0" />
					<xs:element name="zusatzEinzelunternehmernameDiakritisch"
						type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkUnbestaetigtesGeburtsdatumVO">
				<xs:sequence>
					<xs:element name="unvollstaendigesDatum" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkAmtlichesGeburtsdatumVO">
				<xs:sequence>
					<xs:element name="unvollstaendigesDatum" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoPersonDiakritisch">
				<xs:sequence>
					<xs:element name="titelVorneDiakritisch" type="xs:string"
						minOccurs="0" />
					<xs:element name="titelHintenDiakritisch" type="xs:string"
						minOccurs="0" />
					<xs:element name="vornameDiakritisch" type="xs:string" />
					<xs:element name="familiennameDiakritisch" type="xs:string" />
					<xs:element name="geburtsnameDiakritisch" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoCustomerShort">
				<xs:sequence>
					<xs:element name="parParrolleID_Customer" type="xs:integer" />
					<xs:element name="customerartShort" type="xs:string" />
					<xs:element name="svbPKAktuellOpt" type="xs:string" />
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="dtoNotizShortListe" type="tns:dtoNotizShort"
						nillable="true" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="dtoNeuFoegBetriebShort" type="tns:dtoNeuFoegBetriebShort"
						minOccurs="0" />
					<xs:element name="dtoNamenszusammenfassung" type="tns:dtoNamenszusammenfassung"
						minOccurs="0" />
					<xs:element name="dtoNamenszusammenfassungDiakritisch"
						type="tns:dtoNamenszusammenfassungDiakritisch" minOccurs="0" />
					<xs:element name="dtoBearbeiterinformation" type="tns:dtoBearbeiterinformation"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoNotizShort">
				<xs:sequence>
					<xs:element name="notizID" type="xs:integer" />
					<xs:element name="betreff" type="xs:string" />
					<xs:element name="erfassungsDAT" type="xs:date" />
					<xs:element name="notiztext" type="xs:string" />
					<xs:element name="meldendeStelleCode" type="xs:string"
						minOccurs="0" />
					<xs:element name="notizArtShort" type="xs:string"
						minOccurs="0" />
					<xs:element name="notizArt" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoNeuFoegBetriebShort">
				<xs:sequence>
					<xs:element name="monatDerNeugruendung" type="xs:integer" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoOrganisationShort">
				<xs:complexContent>
					<xs:extension base="tns:dtoCustomerShort">
						<xs:sequence>
							<xs:element name="organisationsname" type="xs:string" />
							<xs:element name="zusatzOrganisationsname" type="xs:string"
								minOccurs="0" />
							<xs:element name="organisationsnameShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="organisationsartShort" type="xs:string" />
							<xs:element name="organisationsart" type="xs:string" />
							<xs:element name="fsArtOrganisation" type="xs:string"
								minOccurs="0" />
							<xs:element name="fsOrganisation" type="xs:string"
								minOccurs="0" />
							<xs:element name="organisationGruendungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="organisationAufloesungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="dtoOrganisationDiakritisch" type="tns:dtoOrganisationDiakritisch"
								minOccurs="0" />
							<xs:element name="isoA3Organisationssitz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoEinzelunternehmerShort">
				<xs:complexContent>
					<xs:extension base="tns:dtoPersonShort">
						<xs:sequence>
							<xs:element name="einzelunternehmername" type="xs:string"
								minOccurs="0" />
							<xs:element name="zusatzEinzelunternehmername" type="xs:string"
								minOccurs="0" />
							<xs:element name="einzelunternehmernameShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="unternehmensgruendungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="unternehmensaufloesungsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="dtoEinzelunternehmerDiakritisch"
								type="tns:dtoEinzelunternehmerDiakritisch" minOccurs="0" />
							<xs:element name="isoA3Organisationssitz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoPersonShort">
				<xs:complexContent>
					<xs:extension base="tns:dtoCustomerShort">
						<xs:sequence>
							<xs:element name="titelVorneShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelVorne" type="xs:string"
								minOccurs="0" />
							<xs:element name="vorname" type="xs:string" />
							<xs:element name="familienname" type="xs:string" />
							<xs:element name="namensergaenzungKZ" type="xs:string"
								minOccurs="0" />
							<xs:element name="namensergaenzung" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelHintenShort" type="xs:string"
								minOccurs="0" />
							<xs:element name="titelHinten" type="xs:string"
								minOccurs="0" />
							<xs:element name="personenartShort" type="xs:string" />
							<xs:element name="personenart" type="xs:string" />
							<xs:element name="geschlechtKZ" type="xs:string" />
							<xs:element name="geschlecht" type="xs:string" />
							<xs:element name="bestaetigtesGeburtsDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="bkUnbestaetigtesGeburtsdatum" type="tns:bkUnbestaetigtesGeburtsdatumVO"
								minOccurs="0" />
							<xs:element name="bkAmtlichesGeburtsdatum" type="tns:bkAmtlichesGeburtsdatumVO"
								minOccurs="0" />
							<xs:element name="bestaetigtesTodesDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="unbestaetigtesTodesDAT" type="xs:date"
								minOccurs="0" />
							<xs:element name="dtoPersonDiakritisch" type="tns:dtoPersonDiakritisch"
								minOccurs="0" />
							<xs:element name="isoA3Staatsbuergerschaft" type="xs:string"
								minOccurs="0" />
							<xs:element name="familienstandShort" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoCustomerrolleShort">
				<xs:sequence>
					<xs:element name="parParrolleID_Customerrolle" type="xs:integer" />
					<xs:element name="customerrollenartShort" type="xs:string" />
					<xs:element name="customerrollenart" type="xs:string" />
					<xs:element name="fachschluesselartShortbez" type="xs:string" />
					<xs:element name="fsCustomerrolle" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO"
						minOccurs="0" />
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="dtoAnschriftShort" type="tns:dtoAnschriftShort"
						minOccurs="0" />
					<xs:element name="dtoGeldandremShort" type="tns:dtoGeldandremShort"
						minOccurs="0" />
					<xs:element name="dtoNotizShortListe" type="tns:dtoNotizShort"
						nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="bkGueltigkeitszeitraumVO">
				<xs:sequence>
					<xs:element name="gueltigVonDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="gueltigBisDAT" type="xs:date"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftShort">
				<xs:sequence>
					<xs:element name="adresszuordnungID" type="xs:integer" />
					<xs:element name="andremAevNummer" type="xs:integer" />
					<xs:element name="anschriftstypShort" type="xs:string" />
					<xs:element name="anschriftstyp" type="xs:string" />
					<xs:element name="adresszuordnungAbgabestelle" type="xs:string"
						minOccurs="0" />
					<xs:element name="verwendungsartkurz" type="xs:string" />
					<xs:element name="verwendungsart" type="xs:string" />
					<xs:element name="gebrauchShort" type="xs:string" />
					<xs:element name="gebrauch" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="staatIsoA3" type="xs:string" />
					<xs:element name="staatenbezeichnungShort" type="xs:string" />
					<xs:element name="ort" type="xs:string" />
					<xs:element name="postleitzahl" type="xs:string"
						minOccurs="0" />
					<xs:element name="dtoAnschriftszusammenfassung" type="tns:dtoAnschriftszusammenfassung"
						minOccurs="0" />
					<xs:element name="dtoAnschriftVerwaltungsgliederungListe"
						type="tns:dtoAnschriftVerwaltungsgliederung" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="dtoCustomerShortListe_zustaendigesGerichtInspekorat"
						type="tns:dtoCustomerShort" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftszusammenfassung">
				<xs:sequence>
					<xs:element name="anschriftszeile1" type="xs:string" />
					<xs:element name="anschriftszeile2" type="xs:string" />
					<xs:element name="anschriftszeile3" type="xs:string"
						minOccurs="0" />
					<xs:element name="anschriftszeile4" type="xs:string"
						minOccurs="0" />
					<xs:element name="anschriftszeile5" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftVerwaltungsgliederung">
				<xs:sequence>
					<xs:element name="gemeindecode" type="xs:string" />
					<xs:element name="bundesland" type="xs:string" />
					<xs:element name="politischerBezirk" type="xs:string"
						minOccurs="0" />
					<xs:element name="gemeinde" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftPostfachShort">
				<xs:complexContent>
					<xs:extension base="tns:dtoAnschriftShort">
						<xs:sequence>
							<xs:element name="postfachtext" type="xs:string" />
							<xs:element name="postfachnummer" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoAnschriftStrasseShort">
				<xs:complexContent>
					<xs:extension base="tns:dtoAnschriftShort">
						<xs:sequence>
							<xs:element name="strasse" type="xs:string" minOccurs="0" />
							<xs:element name="hausnummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="stockTuernummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="anschriftszusatz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoGeldandremShort">
				<xs:sequence>
					<xs:element name="adresszuordnungID" type="xs:integer" />
					<xs:element name="andremAevNummer" type="xs:integer" />
					<xs:element name="geldadresstypShort" type="xs:string" />
					<xs:element name="geldadresstyp" type="xs:string" />
					<xs:element name="adresszuordnungAbgabestelle" type="xs:string"
						minOccurs="0" />
					<xs:element name="verwendungsartShort" type="xs:string" />
					<xs:element name="verwendungsart" type="xs:string" />
					<xs:element name="gebrauchShort" type="xs:string" />
					<xs:element name="gebrauch" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="staatIsoA3" type="xs:string" />
					<xs:element name="staatenbezeichnungShort" type="xs:string" />
					<xs:element name="dtoGeldadressvereinbarungShortListe"
						type="tns:dtoGeldadressvereinbarungShort" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoGeldadressvereinbarungShort">
				<xs:sequence>
					<xs:element name="geldadressvereinbarungID" type="xs:integer" />
					<xs:element name="meldendeStelleCode" type="xs:string" />
					<xs:element name="geldadressVereinbarungsArtShort" type="xs:string" />
					<xs:element name="geldadressVereinbarungsArt" type="xs:string" />
					<xs:element name="geldadressVereinbarungsText" type="xs:string"
						minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoGeldandremAnschriftShort">
				<xs:complexContent>
					<xs:extension base="tns:dtoGeldandremShort">
						<xs:sequence>
							<xs:element name="postleitzahl" type="xs:string"
								minOccurs="0" />
							<xs:element name="ort" type="xs:string" />
							<xs:element name="strasse" type="xs:string" minOccurs="0" />
							<xs:element name="hausnummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="stockTuernummer" type="xs:string"
								minOccurs="0" />
							<xs:element name="anschriftszusatz" type="xs:string"
								minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoGeldandremBankkontoShort">
				<xs:complexContent>
					<xs:extension base="tns:dtoGeldandremShort">
						<xs:sequence>
							<xs:element name="bankleitzahl" type="xs:string" />
							<xs:element name="bankinstitut" type="xs:string" />
							<xs:element name="bankkontonummer" type="xs:string" />
							<xs:element name="bankIdentifikationsCode" type="xs:string" />
							<xs:element name="internationaleBankkontonummer" type="xs:string" />
							<xs:element name="bankkontoBezeichnung" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="dtoCustomernameShort">
				<xs:sequence>
					<xs:element name="partnenameID" type="xs:integer" />
					<xs:element name="name" type="xs:string" />
					<xs:element name="nameArtShort" type="xs:string" />
					<xs:element name="nameArt" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoFremdidentifikationShort">
				<xs:sequence>
					<xs:element name="customerFremdidentifikationID" type="xs:integer" />
					<xs:element name="fachschluesselartShort" type="xs:string" />
					<xs:element name="fachschluesselart" type="xs:string" />
					<xs:element name="fachschluessel" type="xs:string" />
					<xs:element name="staatIsoA3" type="xs:string"
						minOccurs="0" />
					<xs:element name="staatenbezeichnungShort" type="xs:string"
						minOccurs="0" />
					<xs:element name="meldendeStelleCode" type="xs:string"
						minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoKlassifizierungShort">
				<xs:sequence>
					<xs:element name="customerKlassifizierungID" type="xs:integer" />
					<xs:element name="klassifizierungShort" type="xs:string" />
					<xs:element name="klassifizierung" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoFastnrShort">
				<xs:sequence>
					<xs:element name="customerFastnrID" type="xs:integer" />
					<xs:element name="finanzamtnummer" type="xs:string" />
					<xs:element name="steuernummer" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoOpt" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoInsolvenzverfahrenShort">
				<xs:sequence>
					<xs:element name="insolvenzverfahrenID" type="xs:integer" />
					<xs:element name="insolvenzverfahrensartShort" type="xs:string" />
					<xs:element name="insolvenzverfahrensart" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="insolvenzAufhebungDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="insolvenzaufhebungsgrundShort" type="xs:string"
						minOccurs="0" />
					<xs:element name="insolvenzaufhebungsgrund" type="xs:string"
						minOccurs="0" />
					<xs:element name="forderungsanmeldungsfristDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="bekanntmachungDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="betriebsschliessungDAT" type="xs:date"
						minOccurs="0" />
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="dtoCustomerShort_Insolvenzverwalter"
						type="tns:dtoCustomerShort" />
					<xs:element name="insolvenzverwaltungsfunktionShort"
						type="xs:string" minOccurs="0" />
					<xs:element name="insolvenzverwaltungsfunktion" type="xs:string"
						minOccurs="0" />
					<xs:element name="dtoCustomerShort_Gericht" type="tns:dtoCustomerShort" />
					<xs:element name="geschaeftszahl" type="xs:string"
						minOccurs="0" />
					<xs:element name="bezugszeichen" type="xs:string"
						minOccurs="0" />
					<xs:element name="gerichtsnummer" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoVerweisShortLELO">
				<xs:sequence>
					<xs:element name="verweisID" type="xs:integer" />
					<xs:element name="verweisartShort" type="xs:string" />
					<xs:element name="verweisart" type="xs:string" />
					<xs:element name="verweisErstDAT" type="xs:date" />
					<xs:element name="dtoCustomerShort_Bezugscustomer" type="tns:dtoCustomerShort" />
					<xs:element name="dtoCustomerrolleShort_Bezugsrolle" type="tns:dtoCustomerrolleShort" />
					<xs:element name="dtoCustomerrolleShort_Ausgangsrolle"
						type="tns:dtoCustomerrolleShort" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoBeziehungShort">
				<xs:sequence>
					<xs:element name="beziehungsID" type="xs:integer" />
					<xs:element name="beziehungsartShort" type="xs:string" />
					<xs:element name="beziehungsart" type="xs:string" />
					<xs:element name="beziehungsartInversOpt" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="dtoCustomerShort_Bezugscustomer" type="tns:dtoCustomerShort" />
					<xs:element name="dtoCustomerrolleShort_Bezugsrolle" type="tns:dtoCustomerrolleShort" />
					<xs:element name="dtoCustomerrolleShort_Ausgangsrolle"
						type="tns:dtoCustomerrolleShort" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoKlassFachgebietShort">
				<xs:sequence>
					<xs:element name="klassifizierungFachgebietID" type="xs:integer" />
					<xs:element name="klassifizierungLEShort" type="xs:string" />
					<xs:element name="klassifizierungLEShortBez" type="xs:string" />
					<xs:element name="fachgebietcode" type="xs:string" />
					<xs:element name="fachgebietSehrShortBez" type="xs:string" />
					<xs:element name="fachgebietShortBez" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO"
						minOccurs="0" />
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="rettungOpt" type="xs:string" minOccurs="0" />
					<xs:element name="taxiOpt" type="xs:string" minOccurs="0" />
					<xs:element name="flugtransportOpt" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoCustomerVPNRShort">
				<xs:sequence>
					<xs:element name="vertragscustomernummerID" type="xs:integer" />
					<xs:element name="vertragscustomernummer" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="vertragscustomernummerEndegrund" type="xs:string"
						minOccurs="0" />
					<xs:element name="stornoOpt" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoBeitragskonto">
				<xs:sequence>
					<xs:element name="beitragskontonrID" type="xs:integer" />
					<xs:element name="meldendeStelleCode" type="xs:string" />
					<xs:element name="hvbBeitragskontonummer" type="xs:string" />
					<xs:element name="svtBeitragskontonummer" type="xs:string" />
					<xs:element name="beitragskontonummernartShort" type="xs:string" />
					<xs:element name="beitragskontonummernart" type="xs:string" />
					<xs:element name="beitragskontoBezeichnung" type="xs:string"
						minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="stornoOpt" type="xs:string" />
					<xs:element name="dienstgebernummer" type="xs:string"
						minOccurs="0" />
					<xs:element name="versicherungsnummer" type="xs:string"
						minOccurs="0" />
					<xs:element name="dtoBktonrBetriebsortShort" type="tns:dtoBktonrBetriebsortShort"
						minOccurs="0" />
					<xs:element name="dtoHauptwiklasseShort" type="tns:dtoHauptwiklasseShort"
						minOccurs="0" />
					<xs:element name="dtoHauptfachgrsekShort" type="tns:dtoHauptfachgrsekShort"
						minOccurs="0" />
					<xs:element name="dtoAnschriftShort" type="tns:dtoAnschriftShort"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoBktonrBetriebsortShort">
				<xs:sequence>
					<xs:element name="bktonrBetriebsortID" type="xs:integer" />
					<xs:element name="staatIsoA3" type="xs:string" />
					<xs:element name="staatenbezeichnungShort" type="xs:string" />
					<xs:element name="bundeslandcode" type="xs:string"
						minOccurs="0" />
					<xs:element name="bundesland" type="xs:string"
						minOccurs="0" />
					<xs:element name="politischerBezirkCode" type="xs:string"
						minOccurs="0" />
					<xs:element name="politischerBezirk" type="xs:string"
						minOccurs="0" />
					<xs:element name="gemeindecode" type="xs:string"
						minOccurs="0" />
					<xs:element name="gemeinde" type="xs:string" minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoHauptwiklasseShort">
				<xs:sequence>
					<xs:element name="hauptwiklasseID" type="xs:integer" />
					<xs:element name="wirtschaftsklasseCode" type="xs:string" />
					<xs:element name="wirtschaftsklassebezeichnung" type="xs:string" />
					<xs:element name="wirtschaftsklasseAktGutShort" type="xs:string"
						minOccurs="0" />
					<xs:element name="wirtschaftsklasseAktGutBez" type="xs:string"
						minOccurs="0" />
					<xs:element name="wirtschaftsklasseTaetigkeitShort" type="xs:string"
						minOccurs="0" />
					<xs:element name="wirtschaftsklasseTaetigkeitBez" type="xs:string"
						minOccurs="0" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
					<xs:element name="wiklasseGeaendertStatistikaustriaOpt"
						type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="dtoHauptfachgrsekShort">
				<xs:sequence>
					<xs:element name="hauptfachgruppesektionID" type="xs:integer" />
					<xs:element name="fachgruppesektionCode" type="xs:string" />
					<xs:element name="fachgruppebezeichnung" type="xs:string" />
					<xs:element name="fachBerufsgruppeKZ" type="xs:string" />
					<xs:element name="fachsektionCode" type="xs:string" />
					<xs:element name="fachsektionbezeichnung" type="xs:string" />
					<xs:element name="bkGueltigkeitszeitraum" type="tns:bkGueltigkeitszeitraumVO" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="iReturnVO">
				<xs:sequence>
					<xs:element name="meldungen" type="tns:iMeldungVO"
						nillable="true" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="ok" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="iMeldungVO">
				<xs:sequence>
					<xs:element name="fehlerId" type="xs:string" minOccurs="0" />
					<xs:element name="fehlerkategorie" type="xs:string"
						minOccurs="0" />
					<xs:element name="meldungstext" type="xs:string"
						minOccurs="0" />
					<xs:element name="parameter" type="xs:string" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>

	</types>
	<message name="customerRead">
		<part name="parameters" element="tns:customerRead" />
	</message>
	<message name="customerReadResponse">
		<part name="parameters" element="tns:customerReadResponse" />
	</message>
	<portType name="CustomerRead">
		<operation name="customerRead">
			<input message="tns:customerRead" />
			<output message="tns:customerReadResponse" />
		</operation>
	</portType>
	<binding name="CustomerReadPortBinding" type="tns:CustomerRead">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="customerRead">
			<soap:operation soapAction="customerRead" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="SECustomerReadService">
		<port name="CustomerReadPort" binding="tns:CustomerReadPortBinding">
			<soap:address location="http://localhost:8080/ws-server-1.0.0-SNAPSHOT/CustomerReadServices" />
		</port>
	</service>
</definitions>

